*{
    margin: 0;
    padding:0;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

.img-logo {
    margin-top:100px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    }
.img-logo:hover {
    transform: scale(1.3);
    z-index:2;
}
.container {
    width:90%;
    padding:20px;
    margin:100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.body {
    background-color: #404040;
}